html{
        width: 100%;
        height: 100%;
        text-align: center;
        margin: 0 auto;
        font: 25pt Video;
        background-color: black;
        color: #4CAF50;
        cursor: crosshair;
        text-shadow: 0px 0px 10px #4CAF50;

        -webkit-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;

}
p{
       	margin-top: 0px;
        margin-bottom: 0px;
        cursor: crosshair;
}
a{
        text-decoration: none;
        color: #4CAF50;
        cursor: crosshair;
        -webkit-user-drag: none;
}